body {
	padding: 50px 5px 30px 5px;
}
.col-md{
	padding: 20px;
	text-align: right;
}

.border {
	border : 1px solid;
}

.house-container {
	height: 500px;
	position:relative;
	width: 500px;
	margin: 0 auto;
	text-align: center;
}
.house{
	position: absolute;
	z-index: 1;
	background: #000;
}
.bedroom, .bathroom, .living-room , .living-room-2, .kitchen, .basement{
	background: #000;
}


.house-interior {
	position: absolute;
	z-index: 0;
	height: 503px;
	width: 600px;
	display: none;
	background: url("../../assets/imgs/interior.png") no-repeat center center;
}

.house img {
	width: 500px;
}

.attic-left{
	top: 27px;
	left: 35px;
	position: absolute;
}
.attic-right{
	top: 33px;
	right: 179px;
	position: absolute;
}

.bedroom, .bathroom, .kitchen, .living-room, .living-room-2, .basement {
	position: absolute;
	margin: 0;
	padding: 0;
}
.bedroom {
	right: 13px;
	top: 155px;
	width: 199px;
	height: 112px;
}
.bathroom {
	right: 219px;
	top: 155px;
	width: 162px;
	height: 112px;
}
.kitchen {
	left: 13px;
	top: 274px;
	width: 290px;
	height: 111px;
}

.living-room {
	left: 12px;
	top: 155px;
	width: 199px;
	height: 111px;
}

.living-room-2{
	right: 13px;
	top: 274px;
	width: 277px;
	height: 110px;
}


.basement{
	right: 54px;
	top: 391px;
	width: 119px;
	height: 78px;
}

.info{
	display: none;
}

#enter{
	font-size: 60px;
	position: absolute;
	display: none;
	top: 201px;
	text-decoration: none;
	left: 138px;
	z-index: 10;
	color: #fff;
	width: 193px;
	line-height: 25px;
	text-align: center;
}

#enter small {
	font-size: 22px;
	color: #fff;
	background: none;
	line-height: 0;
}

.window-wrapper {
	position : relative;
	height: inherit;
	width: inherit;
	display: table;
}


.bedroom .window-wrapper img, .living-room .window-wrapper img, .kitchen .window-wrapper img, .living-room-2 .window-wrapper img, .bathroom .window-wrapper img, .basement .window-wrapper img{
	width: inherit;
	height: inherit;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1;
}

.table-row{
	display: table-cell;
	vertical-align: middle;
	position: relative;
}

.table-row  label{
	position: inherit;
	z-index: 0;
	color: #fff;
}

.attic-left .table-row {
	position: absolute;
}

.attic-left .window-wrapper img, .attic-right .window-wrapper img{
	position: absolute;
	z-index: 2;
}
.attic-left .table-row label {
	position: inherit;
	top: 72px;
	left: 208px;
	padding: 0;
	margin: 0;
	z-index: 0;
}


.attic-right .table-row label {
	position: inherit;
	top: 64px;
	left: 22px;
	padding: 0;
	margin: 0;
}

#myDiv{
}


/* General Styles */
*{ padding:0px; margin:0px; }
a:focus, a:active{ outline:none; }

/* Picture Styles */
#picture{ position:relative; top:20px; width:700px; height:466px; margin:0px auto;}
#picture #pic-background {position: absolute; z-index: 0; left: 0; top: 0;}
	/* General More Button */
	.more{ position:absolute; width:50px; height:50px; background:url("../../assets/imgs/dim.png"); text-align:left; overflow:hidden; }

	.more span{ position:absolute; left:60px; width:160px; padding:15px 0 0 5px; color:#FFF; font:bold 13px Lucida Grande, Arial, sans-serif; text-shadow:#000 1px 1px 0px; top:0px;}
	.show-more{background: url("../../assets/imgs/asbestos-magnifier-sprite.png") no-repeat 2px -4px; height: 50px; display: block; background-size: 43px 123px; }
	.show-more:hover{background: url("../../assets/imgs/asbestos-magnifier-sprite.png") no-repeat 2px -70px; height: 50px; display: block; background-size: 43px 123px; }
	#living-room-floor-tiles{ top: 320px; left:75px;}
	#textured-ceiling{ top: 26px; left: 232px; }
	#kitchen-heater-cupboard{top: 155px; left: 367px; }
	#kitchen-refrigerator{top: 185px; left: 217px;}
	#kitchen-floor{top: 329px; left: 115px;}
	#bedroom-floor{top: 329px; left: 115px;}
	#bedroom-aib-pannels{top: 55px; left: 447px;}
	#living-room-carpet-glue{top: 311px; left: 135px;}
	#bathroom-toilet-cistern{top: 212px; left: 376px;}
	#bathroom-damage-texture-coating{top: 311px; left: 272px;}
	#bathroom-hot-water-pipes{top: 311px; left: 135px;}
	#basement-insulation{top: 45px; left: 300px;}
	#basement-fuse-box{top: 285px; left: 140px;}
	#basement-wall-with-toweled-loose{top: 460px; left: 89px;}
	#basement-panelling-gas-meter{top: 350px; left: 520px;}
	#basement-lagging-hot-water-pipes{top: 410px; left: 520px;}
	#basement-panelling-inside-heater-cupboard{top: 470px; left: 520px;}
	/* General Info Box */
	#infobox{
		position:absolute;
		bottom:-200px;
		left: 295px;
		height:auto;
		width:300px;
		z-index:20;
		margin:0 0 -100px -150px;
		background:#FFF;
		-webkit-border-radius:5px;
		-moz-border-radius:5px;
		border-radius:5px;
		display: none;
	}
	#infobox a, #infobox a:visited{ font:italic 16px Georgia, serif; color:#555; text-decoration:none; }
	#infobox a:hover{ text-decoration:underline; }

		/* Close button for info box */
		span.close{position:absolute; right:5px; top:5px;}

	/* The dimmed background when the info box is showing */
	#fade_bg{ position:absolute; z-index:15; width:100%; height:100%; background:url("../../assets/imgs/dim.png"); display:none;}
	.back-to-interior{display: none; float : right;}

